<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>100!!!!!</title>
    <link rel="stylesheet" href="/settings/index.css">
    </head>
  <body>

    <h3 class="h3_complete">Поздравляю вы почистили 100 бананов</h3>
    <p class="img">
    <img src="https://i.pinimg.com/originals/75/10/f6/7510f688ca667f1b933beefe02139328.gif" alt="banana" style="min-width: 500px; max-height: 500px">
    </p>

  </body>
</html>
