<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Поздравляю</title>
    <link rel="stylesheet" href="/settings/index.css">
  <body>

    <h3 class="h3_complete">Вы убили <%= name %> </h3>
    <p class="img">
    <img src="https://cdn10.bigcommerce.com/s-fw2plafw/products/8517/images/9915/PVZ2_GE_Hand__53163.1435614277.1280.1280.jpg?c=2" alt="dead?again?">
    </p>

  </body>
</html>
